@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

body {
  font-family: 'Baloo 2', cursive !important;
  --bs-body-font-family: 'Baloo 2', cursive !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
  line-height: 1.125 !important;
}
:where(.css-dev-only-do-not-override-3rel02).ant-btn, .ant-select-selector, .ant-picker {
  font-family: 'Baloo 2', cursive !important;
}
.nav-items-custom {
  flex-grow: unset !important;
}
.nav-link-custom {
  font-size: 14px !important;
  font-weight: 400 !important;
  padding: 7px !important;
}
.nav-link-dropdown-custom {
  font-size: 12px !important;
}
.container-custom {
  padding: 0 3rem !important;
}
.card-custom {
  background-color: #f7f7f7 !important;
  min-height: 300px !important;
  border-radius: 8px !important;
  box-shadow: 0px 0px 10px 0px rgba(95, 95, 95, 0.75) !important;
}
.datepicker-dropdown-custom {
  position: absolute;
  top: 35px !important;
  left: 10px !important;
  z-index: 999 !important;
}
.datepicker-dropdown-custom .ant-picker-dropdown {
  z-index: 999 !important;
}
.table-custom-container{
  max-height: 75vh;
  overflow-y: auto;
}
.table-custom {
  --bs-table-bg: #ffffff;
  background-color: var(--bs-table-bg) !important;
}
.table-custom thead th {
  background-color: #f7f7f7 !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 1; 
  border-bottom: 2px solid #363636; 
}
.table-custom tbody tr {
  background-color: #440c0c !important;
}
.table-custom tbody tr:nth-child(even) {
  background-color: #552020 !important;
}